@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fed8a6;
    height: 100%;
}

.container {
    margin-left: 15%;
    margin-top: 5%;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    height: 100%;
}

.main-container {
    display: flex;
}

#search-input {
    width: 50%;
    padding: 10px;
    margin: 20px 0;
    margin-left: 27%;
    background-color: #e9d7c0;
    border: 0px;
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 200px;
    background-color: #fff;
    cursor: pointer;
}

.book-item img {
    width: 100%;
    height: 80%;
}

.intro {
    margin-top: 0px;
    padding: 50px;
    background-color: #92ada4;
    color: #3d281c;
    margin-left: 27%;
    border-radius: 50%;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}


#book-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #e9d7c0;
    border: 0px solid;
    margin-left: 27%;
}


.sidebar {
    width: 250px;
    background-color: #92ada4;
    height: 100vh;
    padding: 20px;
    position: fixed;
}


.sidebar h1 {
    font-size: 350%;
    font-style: italic;
    font-family: serif;
    color: #fed8a6;

}

.sidebar h4 {
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    color: #3d281c; 
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #e9d7c0;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.categories {
    gap: 50px;
    color: #3d281c;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    
}

#clasics {
    display: flex;
    gap: 20px;
    margin-left: 27%;
}

#Underrated {
    display: flex;
    gap: 20px;
    margin-left: 27%;
}


#Popular {
    display: flex;
    gap: 20px;
    margin-left: 27%;
}


#clasics img,
#Underrated img,
#Popular img {
    max-width: 150px;
    height: auto;
    margin: 10px;
    display: block;
}

h3 {
    margin-left: 50%;
    background-color: #92ada4;
    border-radius: 50%;
    padding: 10px;
    color: #3d281c;
    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%; 
}



 
